* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER START*/
.header-container {
    border: 1px transparent;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 5px 0px rgba(4,12,59,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(4,12,59,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(4,12,59,0.75);
}

h4 {
    font-family:oswald; 
    font-weight:bold;
    font-size: 25px;
    color: #162938; 
    text-align:center; 
    padding:15px; 
    padding-bottom:10px; 
    padding-right:10px;
    background-color: beige;
}
/*HEADER END*/

/*SECTİON START*/
section {
    padding: 40px 15%;
}

.contact {
    background-color: rgb(95,158,160,0.4);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
}

.contact:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(dark-blue.png) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-form {
    background-color: #162938;
    padding: 41px;
}

img {
    max-width: 100%;
    width: 575px;
    height: 505px;
    margin-top: 4px;
}

.contact-form h3 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
    font-family: oswald;
    text-align: center;
}

.contact-form form {
    position: relative;
    margin: 0px 15px;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #162938;
    color: #fff;
    font-size: 13px;
    border-style:none;
    border-bottom:solid; 
    border-bottom-color:white; 
    border-bottom-width:thin; 
    font-family:oswald;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form label {
    font-family: oswald;
    font-weight: 150;
    color: #fff;
}

.contact-form form .btn {
    display: inline-block;
    background: #162938;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #fff;
    cursor: pointer;
    width: 220px;
    transition: ease .20s;
}

.contact-form form .btn:hover {
    border: 1px solid #191919;
    background: transparent;
    transform: scale(1.1);
}

@media (max-width: 1570px){
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-form h3 {
        font-size: 40px;
        font-weight:normal; 
    }

}

@media (max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media (max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }
    .contact-img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: -45px;
    }
}

/*SECTİON END*/